.t1
{

    text-decoration: dotted;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 60px;
    text-shadow: 0cqh;
    text-decoration: dotted;
    /* font-style: italic; */
    background-color: aqua;
    /* 
    border-width: 5px;
    border-style: dotted;
    border-color: aliceblue; */
    border: 2px solid red;
    height: 200px;
    width: 400px;
    text-align: left;
    border-radius:10px;               /* make edges curve */
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;


}


#t2
{
 color: chartreuse;
}

p
{
    text-decoration: dotted;
    color: rgba(7, 14, 1, 0.878);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 40 px;
    text-shadow: 0cqh;
    text-decoration: dotted;
    font-style: italic;
    background-color: yellow;
    border-width: 5px;
    border-style: dotted;
    border-color: aliceblue;


}